<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website with Power BI</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        iframe {
            border: none;
        }
    </style>
</head>
<body>
    <!-- Power BI Iframe Embed -->
    <iframe title="ticket_tool" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=a4a10f30-2af2-4fbf-93d3-21f1dcead5ba&autoAuth=true&ctid=41ff26dc-250f-4b13-8981-739be8610c21" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>
